#banner {
    background-color: rgb(102, 34, 34);
    width: 80%;
    margin: 0 auto;
}
#bannerTitle {
    color: white!important;
}
#bannerSubtitle {
    color: white!important;
}
#Image {
    background-color: aqua;
}
#Main {
    width: 80%;
    margin: 0 auto;
    height: 300px;
}
#Info {
    background-color: green;
    height: 300px;
    color: white;
}
#data {
    width: 80%;
    margin: 0 auto;
}
#trades {
    background-color: blue;
    height: 300px;
}
#recentlySearched {
    background-color: red;
    height: 300px;
}
